############################
# Python
############################

__pycache__/
*.py[cod]
*.pyo
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/

.venv/
venv/
env/

############################
# Jupyter
############################

.ipynb_checkpoints/

############################
# Models
############################

*.pth
*.onnx

############################
# Generated Artifacts
############################

artifacts/*.pkl

############################
# Processed Dataset
############################

datasets/processed/

############################
# Reports
############################

reports/synthesis/
reports/timing/
reports/utilization/

############################
# Vivado
############################

*.jou
*.log
*.str
*.cache
*.hw
*.runs
*.sim
*.Xil/
*.gen/
*.ip_user_files/

############################
# Simulation
############################

*.vcd
*.wdb
*.wcfg
*.pb
*.xml

############################
# VS Code
############################

.vscode/

############################
# JetBrains
############################

.idea/

############################
# OS Files
############################

.DS_Store
Thumbs.db

############################
# Temporary Files
############################

*.tmp
*.bak
*.swp

############################
# Build
############################

build/
dist/

*.zip
*.7z
*.rar